body {
  background-color: #dedef0;
}

fieldset {
  border-radius: 5px;
  border-color: #ff7315;
  width: 25px;
}
hr {
  border-style: dotted none none;
  width: 3%;
  border-color: #c70039;
  border-width: 5px;
}
h1{
  color:#0f4c81;
}
h2{
  color:#ff7315;
}
h3{
color:#f45905;
}
